@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Stick', sans-serif;
}
/* body, html {
    height: 100%;
    margin: 0;
  } */
.bg{
    background-image: url("../image/tbt.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden; /* hide overflow content */
}

.tp h1{
    color: red;
    text-align: center;
    font-family: 'Stick', sans-serif;
    /* margin-top: 100px; */
    font-size: 70px;
}
.pause{
    margin: auto; /* To center the image (this is compatible with all browsers including safari)*/
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    cursor: pointer;
    width: 50px;
}
.crd{
    background-color: black;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: larger;
    opacity: 0.7;
}
.crd p{
    color: white;
}
